# Flutter/Dart/Pub related
.dart_tool/
.packages
.pub-cache/
.pub/
build/
.flutter-plugins
.flutter-plugins-dependencies
.flutter-versions
.idea/
.vscode/
*.iml

# Android related
**/android/*.iml
**/android/.gradle/
**/android/app/build/
**/android/build/
**/android/.idea/
**/android/local.properties

# iOS related
**/ios/Flutter/.last_build_id
**/ios/Pods/
**/ios/Runner.xcworkspace/
**/ios/build/
**/ios/Flutter/Flutter.framework/
**/ios/Flutter/Flutter.podspec

# Misc
*.lock
*.log
*.tmp
*.swp
*.DS_Store

# MacOS
*.xcuserdata/

# JetBrains IDEs
*.iml
.idea/

# Others
firebase-debug.log
